[Desktop Entry]
Type=Application
Version=1.0
Name[as]=ইনপুট পদ্ধতি আৰম্ভক
Name[ast]=Запуск системи способів введення
Name[bn_IN]=ইনপুট পদ্ধতি আরম্ভের প্রণালী
Name[ca]=Iniciador del mètode d'entrada
Name[da]=Inputmetode starter
Name[de]=Eingabemethoden-Starter
Name[es]=Iniciador del método de entrada
Name[es_MX]=ಇನ್‌ಪುಟ್ ವಿಧಾನ ಆರಂಭಗಾರ
Name[fr]=Démarrer la méthode de saisie
Name[gu]=ઈનપુટ પદ્ધતિ શરૂ કરનાર
Name[hi]=इनपुट विधि आरंभकर्ता
Name[it]=Caricatore di Input Method
Name[ja]=入力メソッドのスターター
Name[kn]=ಇನ್‌ಪುಟ್ ವಿಧಾನ ಆರಂಭಗಾರ
Name[ko]=입력 방식 시작기 
Name[ky]=इंपुट पद्धत स्टार्टर
Name[ml]=ഇന്‍പുട്ട് മെഥേഡ് ആരംഭിക്കുന്നതിനുള്ള സംവിധാനം
Name[mr]=इंपुट पद्धत स्टार्टर
Name[nds]=ইনপুট পদ্ধতি আরম্ভের প্রণালী
Name[nl]=Invoermethode starter
Name[or]=ନିବେଶ ପ୍ରଣାଳୀ ଆରମ୍ଭକାରୀ
Name[pa]=ਇੰਪੁੱਟ ਢੰਗ ਸਟਾਰਟਰ
Name[pl]=Uruchamianie metody wprowadzania
Name[pt_BR]=Método de entrada iniciado
Name[ru]=Модуль запуска метода ввода
Name[ta]=உள்ளீடு முறை துவக்கி
Name[te]=ఇన్పుట్ పద్దతి ప్రారంభకి
Name[uk]=Запуск системи способів введення
Name[zh_CN]=输入法引导器
Name[zh_TW]=輸入法啟動器
Name=Input Method starter
Comment[as]=ইনপুট পদ্ধতি আৰম্ভক
Comment[ast]=Запуск системи способів введення
Comment[bn_IN]=ইনপুট পদ্ধতি আরম্ভের প্রণালী
Comment[ca]=Iniciador del mètode d'entrada
Comment[da]=Inputmetode starter
Comment[de]=Eingabemethoden-Starter
Comment[es]=Iniciador del método de entrada
Comment[es_MX]=ಇನ್‌ಪುಟ್ ವಿಧಾನ ಆರಂಭಗಾರ
Comment[fr]=Démarrer la méthode de saisie
Comment[gu]=ઈનપુટ પદ્ધતિ શરૂ કરનાર
Comment[hi]=इनपुट विधि आरंभकर्ता
Comment[it]=Caricatore di Input Method
Comment[ja]=入力メソッドのスターター
Comment[kn]=ಇನ್‌ಪುಟ್ ವಿಧಾನ ಆರಂಭಗಾರ
Comment[ko]=입력 방식 시작기 
Comment[ky]=इंपुट पद्धत स्टार्टर
Comment[ml]=ഇന്‍പുട്ട് മെഥേഡ് ആരംഭിക്കുന്നതിനുള്ള സംവിധാനം
Comment[mr]=इंपुट पद्धत स्टार्टर
Comment[nds]=ইনপুট পদ্ধতি আরম্ভের প্রণালী
Comment[nl]=Invoermethode starter
Comment[or]=ନିବେଶ ପ୍ରଣାଳୀ ଆରମ୍ଭକାରୀ
Comment[pa]=ਇੰਪੁੱਟ ਢੰਗ ਸਟਾਰਟਰ
Comment[pl]=Uruchamianie metody wprowadzania
Comment[pt_BR]=Método de entrada iniciado
Comment[ru]=Модуль запуска метода ввода
Comment[ta]=உள்ளீடு முறை துவக்கி
Comment[te]=ఇన్పుట్ పద్దతి ప్రారంభకి
Comment[uk]=Запуск системи способів введення
Comment[zh_CN]=输入法引导器
Comment[zh_TW]=輸入法啟動器
Comment=Input Method starter
Exec=imsettings-switch -n -q -x
Terminal=false
X-GNOME-Autostart-enabled=false
