[Desktop Entry]
Encoding=UTF-8
Name=System Reports
Name[am]=የ ስርአት መግለጫ
Name[ar]=تقارير النظام
Name[az]=Qurmaca Bildirimləri
Name[be]=Сістэмныя справаздачы
Name[bg]=Системен отчет
Name[bn]=সিস্টেম রিপোর্টস
Name[ca]=Informes del sistema
Name[ca@valencia]=Informes del sistema
Name[cs]=Systémová hlášení
Name[cy]=Adroddiadau'r System
Name[da]=Systemrapporter
Name[de]=Systemberichte
Name[el]=Αναφορές Συστήματος
Name[eo]=Sistemraportoj
Name[es]=Informes del sistema
Name[et]=Süsteemi aruanded
Name[eu]=Sistemaren txostenak
Name[fa]=گزارشات سیستم
Name[fi]=Järjestelmäraportit
Name[fr]=Relevés du système
Name[fr_CA]=Relevés du système
Name[he]=דוחות מערכת
Name[hi]=सिस्टम रिपोर्ट
Name[hr]=Izvještaji sustava
Name[hu]=Hibajelentő
Name[ia]=Reportos de systema
Name[id]=Laporan Sistem
Name[ie]=Raportes del sistema
Name[is]=Kerfisskýrslur
Name[it]=Rapporti di sistema
Name[ja]=システムレポート
Name[ka]=სისტემის ანგარიშები
Name[kab]=Ineqqisen n unagraw
Name[ko]=민트 리포트
Name[la]=Relationes Systematis
Name[lt]=Sistemos pranešimai
Name[nb]=Systemrapporter
Name[ne]=सिस्टम रिपोर्टहरू
Name[nl]=Systeemrapporten
Name[oc]=Rapòrts sistèma
Name[pl]=Raporty systemowe
Name[pt]=Relatórios do sistema
Name[pt_BR]=Relatórios do Sistema
Name[ro]=Rapoarte de sistem
Name[ru]=Отчёты о системе
Name[sc]=Informes de sistema
Name[sk]=Systémové hlásenia
Name[sl]=Sistemska poročila
Name[sr]=Системски извештаји
Name[sr@latin]=Sistemski izveštaji
Name[sv]=Systemrapporter
Name[th]=รายงานของระบบ
Name[tr]=Sistem Raporları
Name[uk]=Звіти про систему
Name[uz]=Tizim hisobotlari
Name[vi]=Báo cáo hệ thống
Name[zh_CN]=系统报告
Name[zh_HK]=系統報告
Name[zh_TW]=系統報告
Comment=Troubleshoot problems
Comment[am]=ችግር ፈልጎ ማግኛ
Comment[ar]=استكشاف الأخطاء وإصلاحها
Comment[az]=Çətinlikləri aradan qaldır
Comment[be]=Выпраўленне непаладак
Comment[bg]=Отстраняване на проблеми
Comment[bn]=সমস্যার সমাধান বের করুন
Comment[ca]=Resoleu els problemes
Comment[ca@valencia]=Solucionar problemes
Comment[cs]=Řešení problémů
Comment[cy]=Anawsterau datrys problemau
Comment[da]=Fejlfinding af problemer
Comment[de]=Probleme lösen
Comment[el]=Αντιμετώπιση προβλημάτων
Comment[eo]=Solvendaj problemoj
Comment[es]=Solucionar problemas
Comment[et]=Vigadele lahenduste otsimine
Comment[eu]=Konpondu arazoak
Comment[fa]=عیب‌یابی مشکلات
Comment[fi]=Ongelmien vianmääritys
Comment[fr]=Dépannage des problèmes
Comment[fr_CA]=Dépannage des problèmes
Comment[he]=פתרון בעיות
Comment[hi]=समस्याओं का निवारण करें
Comment[hr]=Otklanjanje problema
Comment[hu]=Hibaelhárítás
Comment[ia]=Problemas de chassa al errores
Comment[id]=Memecahkan masalah
Comment[ie]=Diagnosar problemas
Comment[is]=Leysa vandamál
Comment[it]=Risoluzione dei problemi
Comment[ja]=問題のトラブルシューティング
Comment[ka]=პრობლემების გადაწყვეტა
Comment[kab]=Aseggem n wuguren
Comment[ko]=문제 해결
Comment[la]=Problemata investiga
Comment[lt]=Lokalizuoti gedimus
Comment[ne]=समस्याहरू निवारण गर्नुहोस्
Comment[nl]=Problemen analyseren
Comment[pl]=Rozwiązywanie problemów
Comment[pt]=Resolução de problemas
Comment[pt_BR]=Solução de problemas
Comment[ro]=Depanare probleme
Comment[ru]=Решение проблем
Comment[sc]=Solutzione de problemas
Comment[sk]=Vyhladať poruchy-problémy
Comment[sl]=Reševanje težav
Comment[sr]=Отклањање проблема
Comment[sr@latin]=Rešavanje problema
Comment[sv]=Felsök problem
Comment[tr]=Sorunları giderme
Comment[uk]=Виправлення проблем
Comment[uz]=Muammolarni bartaraf qilish
Comment[vi]=Xử lý các vấn đề
Comment[zh_CN]=诊断问题
Comment[zh_HK]=疑難排解
Comment[zh_TW]=疑難排解
Exec=mintreport-tray
Icon=mintreport
Terminal=false
Type=Application
Categories=
X-GNOME-Autostart-Delay=40
X-MATE-Autostart-Delay=40
X-GNOME-Autostart-enabled=false
