[Desktop Entry]
Type=Application
Exec=NetworkManager
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=NetworkManager
Comment[en_US]=No description
X-GNOME-Autostart-Delay=0
