[Desktop Entry]
Name=Grub Config
Exec=sudo nano /etc/default/grub
Comment=
Terminal=true
PrefersNonDefaultGPU=false
Icon=grub-customizer
Type=Application
Categories=System;FileTools
Name[en_US]=Grub Config
