#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Mount CIFS Share
#Exec=gnome-terminal -- bash -c 'nemo smb://192.168.1.127/Share;clear;neofetch;exec bash;'
Exec=/home/f16poom/restart_cinnamon.sh
Comment=
Terminal=false
Icon=software
Type=Application
Categories=System;FileTools
Hidden=false
NoDisplay=false
Name[en_US]=Mount CIFS Share
