#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Grub Config
Exec=gnome-terminal -- bash -c 'sudo nano /etc/default/grub && sudo grub2-mkconfig -o /boot/grub2/grub.cfg; exit; exec bash;'
Comment=
Terminal=false
PrefersNonDefaultGPU=false
Icon=grub-customizer
Type=Application
Categories=System;FileTools
