/*
##
##  Enhancer for YouTube™
##  =====================
##
##  Author: Maxime RF <https://www.mrfdev.com>
##
##  This file is protected by copyright laws and international copyright
##  treaties, as well as other intellectual property laws and treaties.
##
##  All rights not expressly granted to you are retained by the author.
##  Read the license.txt file for more details.
##
##  © MRFDEV.com - All Rights Reserved
##
*/
body {
  background-color: #111111;
}
body > * {
  display: none !important;
}
#pop-up-player {
  display: block !important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
}