#!/usr/bin/env xdg-open
[Desktop Entry]
Name[af]=dconf Redigeerder
Name[an]=Editor de dconf
Name[ar]=محرر dconf
Name[as]=dconf সম্পাদক
Name[be]=рэдактар dconf
Name[bg]=Редактор за Dconf
Name[bn_IN]=dconf সম্পাদক
Name[bs]=Uređivač dconf
Name[ca]=Editor del dconf
Name[ca@valencia]=Editor del dconf
Name[cs]=Editor dconf
Name[da]=dconf-redigering
Name[de]=dconf-Editor
Name[el]=επεξεργαστής Dconf
Name[en_GB]=dconf Editor
Name[eo]=dconf-Redaktilo
Name[es]=Editor de dconf
Name[et]=dconf redaktor
Name[eu]=dconf editorea
Name[fa]=ویرایشگر dconf
Name[fi]=dconf-muokkain
Name[fr]=Éditeur dconf
Name[fur]=Editôr di dconf
Name[gl]=Editor dconf
Name[he]=עורך dconf
Name[hi]=dconf संपादक
Name[hr]=dconf uređivač
Name[hu]=dconf szerkesztő
Name[id]=Penyunting dconf
Name[is]=dconf ritill
Name[it]=Editor dconf
Name[ja]=dconf エディター
Name[kk]=dconf түзетушісі
Name[ko]=dconf 편집기
Name[lt]=dconf Redaktorius
Name[lv]=dconf redaktors
Name[ml]=dconf എഡിറ്റര്‍
Name[mr]=डीकॉन्फ संपादक
Name[ms]=Penyunting dconf
Name[nb]=dconf redigering
Name[ne]=dconf सम्पादक
Name[nl]=dconf-bewerker
Name[oc]=Editor dconf
Name[pa]=dconf ਐਡੀਟਰ
Name[pl]=Edytor dconf
Name[pt]=Editor dconf
Name[pt_BR]=Editor dconf
Name[ro]=Editor dconf
Name[ru]=Редактор dconf
Name[sk]=Editor systému dconf
Name[sl]=Urejevalnik dconf
Name[sr]=дконф уређивач
Name[sr@latin]=dkonf uređivač
Name[sv]=dconf-redigerare
Name[ta]=டிகான்ஃப் திருத்தி
Name[te]=డికాన్ఫ్ కూర్పకం
Name[tg]=Муҳаррири dconf
Name[th]=เครื่องมือแก้ไข dconf
Name[tr]=dconf Düzenleyici
Name[uk]=Редактор dconf
Name[vi]=Trình soạn thảo dconf
Name[zh_CN]=dconf 编辑器
Name[zh_HK]=dconf 編輯器
Name[zh_TW]=dconf 編輯器
Name[ug]=dconf تەھرىرلىگۈچى
Name=dconf Editor
# Translators: a GenericName that gives the application goal, as defined in the desktop file spec
GenericName[be]=Рэдактар канфігурацыі для dconf
GenericName[bg]=Редактор на настройки за Dconf
GenericName[ca]=Editor de configuracions per al dconf
GenericName[ca@valencia]=Editor de configuracions per al dconf
GenericName[cs]=Editor nastavení pro dconf
GenericName[da]=Konfigurationsredigering til dconf
GenericName[de]=Konfigurationseditor für dconf
GenericName[el]=Επεξεργαστής ρυθμίσεων για το Dconf
GenericName[en_GB]=Configuration editor for dconf
GenericName[es]=Editor de configuración para dconf
GenericName[eu]=Dconf-en konfigurazioaren editorea
GenericName[fa]=ویرایشگر پیکربندی برای dconf
GenericName[fi]=Asetusmuokkain dconfille
GenericName[fr]=Éditeur de configuration pour dconf
GenericName[fur]=Editôr di configurazion par dconf
GenericName[gl]=Editor de configuración para dconf
GenericName[he]=עורך תצורה עבור dconf
GenericName[hr]=Uređivač podešavanja za dconf
GenericName[hu]=Konfigurációszerkesztő a dconf-hoz
GenericName[id]=Penyunting konfigurasi bagi dconf
GenericName[it]=Editor di configurazione per dconf
GenericName[ja]=dconf 用の設定エディター
GenericName[kk]=dconf үшін баптаулар түзеткіші
GenericName[ko]=dconf용 설정 편집기
GenericName[lt]=Konfigūracijos redaktorius dconf
GenericName[lv]=dconf konfigurācijas redaktors
GenericName[ml]=Dconf നു വേണ്ടിയുള്ള എഡിറ്റര്‍ കോണ്‍ഫിഗര്‍ ചെയ്യുന്നു
GenericName[ms]=Penyunting konfigurasi untuk dconf
GenericName[nb]=Konfigurasjonsredigering fo dconf
GenericName[ne]=dconf सम्पादक कन्फिगरेसन
GenericName[nl]=Configuratiebewerker voor dconf
GenericName[oc]=Editor de configuracion per dconf
GenericName[pl]=Edytor konfiguracji dconf
GenericName[pt]=Editor de configurações para dconf
GenericName[pt_BR]=Editor de configuração para dconf
GenericName[ro]=Editor de configurații pentru dconf
GenericName[ru]=Редактор конфигурации для dconf
GenericName[sk]=Editor konfigurácie systému dconf
GenericName[sl]=Urejevalnik nastavitev za dconf
GenericName[sr]=Уређивач подешавања за дконф
GenericName[sr@latin]=Uređivač podešavanja za dkonf
GenericName[sv]=Konfigurationsredigerare för dconf
GenericName[tr]=Dconf için yapılandırma düzenleyicisi
GenericName[uk]=Редактор налаштувань для dconf
GenericName[zh_CN]=dconf 的配置编辑器
GenericName[zh_TW]=dconf 的設定編輯器
GenericName=Configuration editor for dconf
# Translators: a Comment that gives the application function, as defined in the desktop file spec
Comment[an]=Edita toda la configuración d'a base de datos dreitament
Comment[ar]=تحرير قاعدة بيانات إعداداتك بأكملها بطريقة مباشرة
Comment[as]=আপোনাৰ সম্পূৰ্ণ সংৰূপ ডাটাবেইচ প্ৰত্যক্ষভাৱে সম্পাদন কৰক
Comment[be]=Непасрэднае рэдагаванне ўсёй канфігурацыйнай базы даных
Comment[bg]=Редактиране на цялата база от данни с настройки
Comment[bn_IN]=আপনার সম্পূর্ণ কনফিগারেশন ডাটাবেস সরাসরি সম্পাদন করুন
Comment[bs]=Neposredno uredite vašu bazu sa podešavanjima
Comment[ca]=Editeu directament la base de dades de configuració
Comment[ca@valencia]=Editeu directament la base de dades de configuració
Comment[cs]=Přímo upravujte celou svoji databázi nastavení
Comment[da]=Redigér direkte i hele din konfigurationsdatabase
Comment[de]=Direkter Zugriff auf Ihre gesamte Konfigurationsdatenbank
Comment[el]=Άμεση επεξεργασία όλης της βάσης με τα δεδομένα των ρυθμίσεων
Comment[en_GB]=Directly edit your entire configuration database
Comment[eo]=Rekte redakti vian totan agordan datumbazon
Comment[es]=Edite toda la configuración de la base de datos directamente
Comment[et]=Seadistuste andmebaasi vahetu muutmine
Comment[eu]=Editatu zuzenean zure konfigurazioaren datu-base osoa
Comment[fa]=به صورت مستقیم پایگاه‌دادهٔ پیکربندی خود را ویرایش کنید
Comment[fi]=Muokkaa suoraan koko asetustietokantaasi
Comment[fr]=Modifier directement toute votre base de données de configuration
Comment[fur]=Modifiche diretementri l'intîr database de configurazion
Comment[gl]=Edite directamente toda a súa base de datos de configuración
Comment[he]=עריכה ישירה של כל מסד נתוני התצורה שלך
Comment[hi]=अपने सम्पूर्ण विन्यास डाटाबेस को सीधे संपादित करें
Comment[hr]=Izravno uređujete svoju cjelokupnu bazu podataka podešavanja
Comment[hu]=A konfigurációs adatbázis közvetlen szerkesztése
Comment[id]=Menyunting langsung seluruh basis data konfigurasi Anda
Comment[is]=Breyta beint uppsetningargrunni kerfis
Comment[it]=Modifica direttamente l'intero database di configurazione
Comment[ja]=設定データベースを直接編集します
Comment[kk]=Баптаулар дерекқорын тікелей түзетіңіз
Comment[ko]=모든 설정 데이터베이스를 직접 편집합니다
Comment[lt]=Tiesiogiai redaguokite savo visą konfigūracijos duomenų bazę
Comment[lv]=Tieši rediģē visu savu konfigurācijas datubāzi
Comment[ml]=മൊത്തം ക്രമീകരണ ഡാറ്റാബൈസും നേരിട്ട് തിരുത്തുക
Comment[mr]=संपूर्ण संरचना डाटाबेस थेट संपादित करा
Comment[ms]=Sunting terus keseluruhan pangkalan data konfigurasi anda
Comment[nb]=Rediger konfigurasjonsdatabasen direkte
Comment[ne]=तपाईँको सम्पूर्ण कन्फिगरेसन डाटावेश प्रतक्ष रूपमा सम्पादन गर्नुहोस्
Comment[nl]=De gehele configuratie-database rechtstreeks bewerken
Comment[oc]=Modificar dirèctament tota vòstra basa de donadas de configuracion
Comment[pa]=ਆਪਣੇ ਪੂਰੇ ਸੰਰਚਨਾ ਡਾਟਾਬੇਸ ਨੂੰ ਸਿੱਧਾ ਸੋਧੋ
Comment[pl]=Bezpośrednia modyfikacja bazy danych konfiguracji
Comment[pt]=Edite diretamente toda a sua base de dados de configuração
Comment[pt_BR]=Edite diretamente todo o seu banco de dados de configuração
Comment[ro]=Editați în mod direct întreaga dumneavoastră bază de date cu configurări
Comment[ru]=Прямое редактирование базы данных настроек среды
Comment[sk]=Priama úprava celej vašej databázy nastavení
Comment[sl]=Neposredno urejanje celotne podatkovne zbirke nastavitev
Comment[sr]=Непосредно уредите вашу базу са подешавањима
Comment[sr@latin]=Neposredno uredite vašu bazu sa podešavanjima
Comment[sv]=Redigera hela din konfigurationsdatabas direkt
Comment[ta]=உங்கள் முழு வடிவமைப்பு தரவுத்தளத்தை நேரடியாக திருத்துக
Comment[te]=పూర్తి స్వరూపణ దత్తాంశాన్ని నేరుగా సవరించు
Comment[tg]=Тамоми пойгоҳи иттилооти танзимоти худро бевосита таҳрир кунед
Comment[th]=แก้ไขฐานข้อมูลค่าตั้งของคุณทั้งหมดโดยตรง
Comment[tr]=Yapılandırma veri tabanınızın tamamını doğrudan düzenleyin
Comment[uk]=Безпосереднє редагування бази даних налаштувань
Comment[vi]=Sửa trực tiếp toàn bộ cơ sở dữ liệu cấu hình của bạn
Comment[zh_CN]=直接编辑您的整个配置数据库
Comment[zh_HK]=直接編輯你的整個組態資料庫
Comment[zh_TW]=直接編輯整個設定資料庫
Comment[ug]=سەپلىمە ساندىنىنى بىۋاسىتە تەھرىرلەيدۇ
Comment=Directly edit your entire configuration database
# Translators: some search Keywords to find this application, as defined in the desktop file spec. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=instellings;konfigurasie;
Keywords[an]=opcions;configuración;
Keywords[as]=settings;configuration;
Keywords[be]=настройкі;налады;канфігурацыя;настаўленні;
Keywords[bg]=настройки;конфигурации;settings;configuration;
Keywords[bs]=podešavanja;postavke;konfiguracija;
Keywords[ca]=paràmetres;configuració;
Keywords[ca@valencia]=paràmetres;configuració;
Keywords[cs]=nastavení;konfigurace;
Keywords[da]=indstillinger;valgmuligheder;valg;konfiguration;
Keywords[de]=Einstellungen;Konfiguration;
Keywords[el]=ρυθμίσεις;διαμόρφωση;settings;configuration;
Keywords[en_GB]=settings;configuration;
Keywords[eo]=agordoj;
Keywords[es]=configuración;ajustes;
Keywords[et]=seadistus;sätted;seaded;konfiguratsioon;
Keywords[eu]=ezarpenak;konfigurazioa;
Keywords[fa]=settings;configuration;تنظیمات;پیکربندی;
Keywords[fi]=settings;configuration;asetukset;määritykset;
Keywords[fr]=paramètres;configuration;
Keywords[fur]=impostazions; configurazion;
Keywords[gl]=preferencias;configuración;
Keywords[he]=הגדרות;תצורה;קונפיגורציה;
Keywords[hi]=सेटिंग्स; विन्यास;
Keywords[hr]=postavke;podešavanje;
Keywords[hu]=beállítások;konfiguráció;
Keywords[id]=pengaturan;konfigurasi;
Keywords[is]=stillingar;uppsetning;
Keywords[it]=impostazione;impostazioni;configurazione;
Keywords[ja]=settings;configuration;設定;gsettings;gschema;
Keywords[kk]=settings;configuration;баптаулар;қалаулар;
Keywords[ko]=settings;configuration;설정;
Keywords[lt]=nustatymai;konfigūracija;
Keywords[lv]=iestatījumi;konfigurācija;
Keywords[ml]=settings;configuration;
Keywords[ms]=tetapan;konfigurasi;
Keywords[nb]=innstillinger;konfigurasjon;
Keywords[ne]=सेटि;ङ्ग‍कन्फिगरेसन;
Keywords[nl]=instellingen;configuratie;settings;configuration;
Keywords[oc]=paramètres;configuracion;
Keywords[pa]=ਸੈਟਿੰਗ;ਸੰਰਚਨਾ;settings;configuration;
Keywords[pl]=ustawienia;konfiguracja;preferencje;opcje;rejestr;
Keywords[pt]=definições;configuração;
Keywords[pt_BR]=ajustes;configuração;
Keywords[ro]=settings;configuration;configurări;configurație;setări;
Keywords[ru]=настройка;параметры;конфигурация;
Keywords[sk]=nastavenia;konfigurácia;
Keywords[sl]=nastavitve;konfiguracija;sistem;prilagajanje;
Keywords[sr]=подешавања;поставке;конфигурација;podešavanja;postavke;konfiguracija;podesavanja;settings;configuration;
Keywords[sr@latin]=podešavanja;postavke;konfiguracija;podešavanja;postavke;konfiguracija;podesavanja;settings;configuration;
Keywords[sv]=inställningar;konfiguration;
Keywords[ta]=அமைப்பு;வடிவமைப்பு;
Keywords[tg]=танзимот;конфигуратсия;
Keywords[th]=ค่าตั้ง;ตั้งค่า;
Keywords[tr]=ayarlar;yapılandırma;
Keywords[uk]=параметри;налаштування;
Keywords[vi]=settings;cài;đặt;cai;dat;configuration;cấu;hình;cau;hinh;
Keywords[zh_CN]=settings;configuration;设定;配置;设置;
Keywords[zh_HK]=settings;configuration;設定值;組態;
Keywords[zh_TW]=settings;configuration;設定值;設定;配置;
Keywords[ug]=settings;configuration;تەڭشەكلەر;سەپلىمە;
Keywords=settings;configuration;
Exec=dconf-editor
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
DBusActivatable=true
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=timeshift
