[Desktop Entry]
Version=1.1
Type=Application
Name=Files (root)
Comment=Access and organise files
Exec=gnome-terminal -- zsh -c 'sudo -E nemo;exec zsh;'
Icon=timeshift
Categories=System;FileTools;GTK;
Keywords=folders;filesystem;explorer;
Type=Application
Terminal=false
StartupNotify=false
X-GNOME-UsesNotifications=true
Name[en_US]=Files (root)
