[Desktop Entry]
Version=1.1
Type=Application
Name=Terminal (root)
Exec=gnome-terminal -- bash -c 'sudo clear;neofetch --ascii /home/f16poom/Temp\\ Files/NixAscii.txt;exec bash;'
Icon=timeshift
Categories=System;FileTools;GTK;
Keywords=cache;clean;free;performance;privacy;
StartupNotify=true
X-GNOME-UsesNotifications=true
Terminal=false
Comment=
